Repository amansbhandari/comparify: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test, build_server_for_dev, build_server_for_staging, build_server_for_prod, build_client, code_quality_for_dev_by_designite, code_quality_for_staging_by_designite, code_quality_for_prod_by_designite, code_quality_by_sonar, deploy_staging_client, deploy_staging_server, deploy_prod_client, deploy_prod_server

test:
  stage: test
  image: maven:latest
  tags:
  - dalfcs_docker_autoscale
  script:
  - cd server
  - mvn clean verify
  artifacts:
    when: always
    reports:
      junit:
      - server/target/surefire-reports/TEST-*.xml
      - server/target/failsafe-reports/TEST-*.xml

build_server_for_dev:
  stage: build
  image: maven:latest
  tags:
  - dalfcs_docker_autoscale
  script:
  - cd server
  - mvn clean package -DskipTests=true
  artifacts:
    paths:
    - server/target/*.jar

build_server_for_staging:
  stage: build
  image: maven:latest
  tags:
  - dalfcs_docker_autoscale
  script:
  - cd server
  - mvn clean package -DskipTests=true -Pstaging
  artifacts:
    paths:
    - server/target/*.jar

build_server_for_prod:
  stage: build
  image: maven:latest
  tags:
  - dalfcs_docker_autoscale
  script:
  - cd server
  - mvn clean package -DskipTests=true -Pprod
  artifacts:
    paths:
    - server/target/*.jar

build_client:
  stage: build
  image: node:16
  tags:
  - dalfcs_docker_kvm
  script:
  - cd client
  - npm install
  - npm run build

code_quality_for_dev_by_designite:
  stage: code-quality
  tags:
  - ugrad
  variables:
  ...

code_quality_for_staging_by_designite:
  stage: code-quality
  tags:
  - ugrad
  variables:
  ...

code_quality_for_prod_by_designite:
  stage: code-quality
  tags:
  - ugrad
  variables:
  ...

code_quality_by_sonar:
  stage: code-quality
  image: maven:latest
  tags:
  - dalfcs_docker_autoscale
  script:
  - cd server
  - mvn clean verify sonar:sonar
  artifacts:
    when: always
    reports:
      junit:
      - server/target/surefire-reports/TEST-*.xml
      - server/target/failsafe-reports/TEST-*.xml

deploy_staging_client:
  stage: deploy-staging
  image: ruby:latest
  tags:
  - dalfcs_docker_autoscale
  before_script:
  - apt-get update -qy
  - apt-get install -y ruby-dev
  - gem install dpl
  script:
  - cd client
  - dpl --provider=heroku --app=$STAGING_CLIENT_HEROKU_APP_NAME --api-key=$HARSH_HEROKU_API_KEY --cleanup

deploy_staging_server:
  stage: deploy-staging
  image: ruby:latest
  tags:
  - dalfcs_docker_autoscale
  before_script:
  - apt-get update -qy
  - apt-get install -y ruby-dev
  - gem install dpl
  script:
  ...

deploy_prod_client:
  stage: deploy-production
  image: ruby:latest
  tags:
  - dalfcs_docker_autoscale
  before_script:
  - apt-get update -qy
  - apt-get install -y ruby-dev
  - gem install dpl
  script:
  - cd client
  - dpl --provider=heroku --app=$PRODUCTION_CLIENT_HEROKU_APP_NAME --api-key=$HARSH_HEROKU_API_KEY --cleanup

deploy_prod_server:
  stage: deploy-production
  image: ruby:latest
  tags:
  - dalfcs_docker_autoscale
  before_script:
  - apt-get update -qy
  - apt-get install -y ruby-dev
  - gem install dpl
  script:
  ...

Added visualization for price trend of products for different brands
  client/src/components/analytics/Analytics.js
  client/src/components/side-navigation/Menus.js
  client/src/store/thunk/analyticsThunkCreators.js
  server/pom.xml
  server/src/main/java/ca/dal/comparify/alerts/AlertController.java
  server/src/main/java/ca/dal/comparify/analytics/AnalyticsRepository.java
  server/src/main/java/ca/dal/comparify/framework/app/ApplicationScope.java
  server/src/main/java/ca/dal/comparify/framework/notification/websocket/WebSocketService.java
  server/src/main/java/ca/dal/comparify/mongo/MongoRepository.java
  server/src/main/java/ca/dal/comparify/mongo/PaginationOptions.java
  server/src/main/java/ca/dal/comparify/user/UserController.java
  server/src/main/java/ca/dal/comparify/user/model/iam/UserIAMRequestModel.java
  server/src/main/java/ca/dal/comparify/user/model/iam/UserIAMResponseModel.java
  server/src/main/java/ca/dal/comparify/user/model/iam/authorization/UserRoleModel.java
  server/src/main/java/ca/dal/comparify/user/service/UserService.java
  server/src/main/java/ca/dal/comparify/user/service/iam/UserIAMService.java
  server/src/main/java/ca/dal/comparify/utils/MapUtils.java
  server/src/main/java/ca/dal/comparify/utils/ObjectUtils.java
  server/src/main/java/ca/dal/comparify/utils/ResponseEntityUtils.java
  server/src/main/java/ca/dal/comparify/utils/StringUtils.java
  server/src/test/java/ca/dal/comparify/alerts/AlertControllerTest.java
  server/src/test/java/ca/dal/comparify/notification/NotificationControllerTest.java
  server/src/test/java/ca/dal/comparify/user/UserControllerTest.java
Due: test, build_server_for_dev, build_server_for_staging, build_server_for_prod, build_client, code_quality_for_dev_by_designite, code_quality_for_staging_by_designite, code_quality_for_prod_by_designite, code_quality_by_sonar, deploy_staging_client, deploy_staging_server, deploy_prod_client, deploy_prod_server

Configure the home based on roles
  client/src/app-routes.js
  client/src/components/side-navigation/Menus.js
  client/src/components/user_management/UserManagement.js
  client/src/index.css
Due: build_client, deploy_staging_client, deploy_prod_client

Feature admin menus
  server/src/test/java/ca/dal/comparify/store/StoreRepositoryTest.java
Due: test, build_server_for_dev, build_server_for_staging, build_server_for_prod, code_quality_for_dev_by_designite, code_quality_for_staging_by_designite, code_quality_for_prod_by_designite, code_quality_by_sonar, deploy_staging_server, deploy_prod_server

Feature admin menus
  server/src/test/java/ca/dal/comparify/store/StoreServiceTest.java
Due: test, build_server_for_dev, build_server_for_staging, build_server_for_prod, code_quality_for_dev_by_designite, code_quality_for_staging_by_designite, code_quality_for_prod_by_designite, code_quality_by_sonar, deploy_staging_server, deploy_prod_server

Feature admin menus
  server/src/test/java/ca/dal/comparify/Appreciation/AppreciationRepositoryTest.java
  server/src/test/java/ca/dal/comparify/Appreciation/AppreciationServiceTest.java
Due: test, build_server_for_dev, build_server_for_staging, build_server_for_prod, code_quality_for_dev_by_designite, code_quality_for_staging_by_designite, code_quality_for_prod_by_designite, code_quality_by_sonar, deploy_staging_server, deploy_prod_server

Feature admin menus
  server/src/test/java/ca/dal/comparify/item/ItemRepositoryTest.java
  server/src/test/java/ca/dal/comparify/item/ItemServiceTest.java
Due: test, build_server_for_dev, build_server_for_staging, build_server_for_prod, code_quality_for_dev_by_designite, code_quality_for_staging_by_designite, code_quality_for_prod_by_designite, code_quality_by_sonar, deploy_staging_server, deploy_prod_server

Integrated Analytics
  .gitignore
  client/public/favicon.ico
  client/public/index.html
  client/src/components/analytics/Analytics.js
  client/src/components/analytics/MonthlyTotalPurchaseOfItemCategory.js
  client/src/components/analytics/PriceTrendForDifferentBrands.js
  client/src/components/analytics/ProductCountForCategory.js
  client/src/store/reducers/analytics.js
  client/src/store/thunk/analyticsThunkCreators.js
  server/src/main/java/ca/dal/comparify/analytics/AnalyticsController.java
  server/src/main/java/ca/dal/comparify/analytics/AnalyticsRepository.java
  server/src/main/java/ca/dal/comparify/analytics/AnalyticsService.java
  server/src/test/java/ca/dal/comparify/notification/NotificationControllerTest.java
Due: test, build_server_for_dev, build_server_for_staging, build_server_for_prod, build_client, code_quality_for_dev_by_designite, code_quality_for_staging_by_designite, code_quality_for_prod_by_designite, code_quality_by_sonar, deploy_staging_client, deploy_staging_server, deploy_prod_client, deploy_prod_server

Enhanced test-cases to increase code coverage
  server/src/main/java/ca/dal/comparify/user/model/iam/UserIAMResponseModel.java
  server/src/main/java/ca/dal/comparify/utils/MapUtils.java
  server/src/main/java/ca/dal/comparify/utils/ObjectUtils.java
  server/src/main/java/ca/dal/comparify/utils/ResponseEntityUtils.java
  server/src/test/java/ca/dal/comparify/alerts/AlertControllerTest.java
  server/src/test/java/ca/dal/comparify/alerts/model/AlertModelTest.java
  server/src/test/java/ca/dal/comparify/alerts/model/AlertRequestModelTest.java
  server/src/test/java/ca/dal/comparify/alerts/model/AlertResponseModelTest.java
  server/src/test/java/ca/dal/comparify/alerts/model/AlertTypeEnumTest.java
  server/src/test/java/ca/dal/comparify/brand/model/BrandModelTest.java
  server/src/test/java/ca/dal/comparify/brand/model/BrandRequestModelTest.java
  server/src/test/java/ca/dal/comparify/framework/notification/model/AbstractChannelNotificationModelTest.java
  server/src/test/java/ca/dal/comparify/notification/NotificationControllerTest.java
  server/src/test/java/ca/dal/comparify/user/UserControllerTest.java
  server/src/test/java/ca/dal/comparify/utils/DateUtilsTest.java
  server/src/test/java/ca/dal/comparify/utils/ObjectUtilsTest.java
  server/src/test/java/ca/dal/comparify/utils/ResponseEntityUtilsTest.java
  server/src/test/java/ca/dal/comparify/utils/StringUtilsTest.java
Due: test, build_server_for_dev, build_server_for_staging, build_server_for_prod, code_quality_for_dev_by_designite, code_quality_for_staging_by_designite, code_quality_for_prod_by_designite, code_quality_by_sonar, deploy_staging_server, deploy_prod_server

Feature product
  client/src/components/RegisterPage.js
  client/src/components/products/BrandListDropDown.js
  client/src/components/products/ProductListDropDown.js
  client/src/components/products/StoreListDropDown.js
  client/src/components/products/addAdminproduct.js
  client/src/components/products/addproduct.js
  client/src/image/ImageUploader.js
  client/src/store/thunk/userThunkCreators.js
  server/src/main/java/ca/dal/comparify/feedback/controller/FeedbackController.java
  server/src/main/java/ca/dal/comparify/feedback/controller/RestUpdateController.java
  server/src/main/java/ca/dal/comparify/feedback/repository/FeedbackRepository.java
  server/src/main/java/ca/dal/comparify/feedback/services/FeedbackService.java
  server/src/test/java/ca/dal/comparify/CompareItems/CompareItemsRepositoryTest.java
  server/src/test/java/ca/dal/comparify/feeedbackTest/FeedbackServiceTest.java
Due: test, build_server_for_dev, build_server_for_staging, build_server_for_prod, build_client, code_quality_for_dev_by_designite, code_quality_for_staging_by_designite, code_quality_for_prod_by_designite, code_quality_by_sonar, deploy_staging_client, deploy_staging_server, deploy_prod_client, deploy_prod_server

Refactored model test-cases
  server/src/test/java/ca/dal/comparify/alerts/model/AlertModelTest.java
  server/src/test/java/ca/dal/comparify/alerts/model/AlertRequestModelTest.java
  server/src/test/java/ca/dal/comparify/alerts/model/AlertResponseModelTest.java
  server/src/test/java/ca/dal/comparify/alerts/model/AlertTypeEnumTest.java
  server/src/test/java/ca/dal/comparify/brand/model/BrandModelTest.java
  server/src/test/java/ca/dal/comparify/model/AuditModelTest.java
  server/src/test/java/ca/dal/comparify/model/EntityReferenceTest.java
  server/src/test/java/ca/dal/comparify/model/RangeModelTest.java
  server/src/test/java/ca/dal/comparify/mongo/TupleTest.java
  server/src/test/java/ca/dal/comparify/notification/model/IconTypeTest.java
  server/src/test/java/ca/dal/comparify/notification/model/NotificationChannelTypeTest.java
  server/src/test/java/ca/dal/comparify/notification/model/NotificationReceiverModelTest.java
  server/src/test/java/ca/dal/comparify/notification/model/NotificationTypeEnumTest.java
  server/src/test/java/ca/dal/comparify/user/enumeration/UserErrorCodeTest.java
  server/src/test/java/ca/dal/comparify/user/model/iam/UserIAMModelTest.java
  server/src/test/java/ca/dal/comparify/user/model/iam/UserIAMRequestModelTest.java
  server/src/test/java/ca/dal/comparify/user/model/iam/UserIAMResponseModelTest.java
  server/src/test/java/ca/dal/comparify/user/model/iam/authentication/UserAuthenticationModelTest.java
  server/src/test/java/ca/dal/comparify/user/model/iam/authentication/UserPrincipalTest.java
  server/src/test/java/ca/dal/comparify/user/model/iam/authorization/UserAuthorizationModelTest.java
  server/src/test/java/ca/dal/comparify/user/model/iam/authorization/UserAuthorizationRoleEnumTest.java
  server/src/test/java/ca/dal/comparify/user/model/iam/authorization/UserRoleModelTest.java
Due: test, build_server_for_dev, build_server_for_staging, build_server_for_prod, code_quality_for_dev_by_designite, code_quality_for_staging_by_designite, code_quality_for_prod_by_designite, code_quality_by_sonar, deploy_staging_server, deploy_prod_server

Feature admin menus
  server/src/test/java/ca/dal/comparify/brand/BrandRepositoryTest.java
  server/src/test/java/ca/dal/comparify/brand/BrandServiceTest.java
Due: test, build_server_for_dev, build_server_for_staging, build_server_for_prod, code_quality_for_dev_by_designite, code_quality_for_staging_by_designite, code_quality_for_prod_by_designite, code_quality_by_sonar, deploy_staging_server, deploy_prod_server

Test
  server/src/test/java/ca/dal/comparify/store/StoreRepositoryTest.java
Due: test, build_server_for_dev, build_server_for_staging, build_server_for_prod, code_quality_for_dev_by_designite, code_quality_for_staging_by_designite, code_quality_for_prod_by_designite, code_quality_by_sonar, deploy_staging_server, deploy_prod_server

Test
  server/src/test/java/ca/dal/comparify/Appreciation/AppreciationServiceTest.java
Due: test, build_server_for_dev, build_server_for_staging, build_server_for_prod, code_quality_for_dev_by_designite, code_quality_for_staging_by_designite, code_quality_for_prod_by_designite, code_quality_by_sonar, deploy_staging_server, deploy_prod_server

Test
  server/src/test/java/ca/dal/comparify/feeedbackTest/FeedbackServiceTest.java
Due: test, build_server_for_dev, build_server_for_staging, build_server_for_prod, code_quality_for_dev_by_designite, code_quality_for_staging_by_designite, code_quality_for_prod_by_designite, code_quality_by_sonar, deploy_staging_server, deploy_prod_server

Feature search product integration
  server/src/main/java/ca/dal/comparify/searchProduct/repository/ProductRepository.java
  server/src/test/java/ca/dal/comparify/TestUtil.java
  server/src/test/java/ca/dal/comparify/searchProduct/TestProductRepository.java
  server/src/test/java/ca/dal/comparify/searchProduct/TestSearchProductController.java
  server/src/test/java/ca/dal/comparify/securityQuestion/TestQuestionControler.java
  server/src/test/java/ca/dal/comparify/securityQuestion/TestQuestionRepository.java
  server/src/test/java/ca/dal/comparify/securityQuestionTest/TestQuestionRepository.java
Due: test, build_server_for_dev, build_server_for_staging, build_server_for_prod, code_quality_for_dev_by_designite, code_quality_for_staging_by_designite, code_quality_for_prod_by_designite, code_quality_by_sonar, deploy_staging_server, deploy_prod_server

Moving misc folder to the root
  misc/database model/Readme.txt
  misc/database model/version1
  misc/database model/version2
  misc/dummy data/Category.json
  misc/dummy data/Store.json
  misc/dummy data/importData-dev.sh
  misc/dummy data/importData-prod.sh
  misc/dummy data/importData-staging.sh
  misc/dummy data/importData-test.sh
  misc/dummy data/securityQuestion.json
Due: none

Squash merge feature-testing -> main
  misc/database model/Readme.txt
  misc/database model/version1
  misc/database model/version2
  misc/dummy data/Category.json
  misc/dummy data/Store.json
  misc/dummy data/importData-dev.sh
  misc/dummy data/importData-prod.sh
  misc/dummy data/importData-staging.sh
  misc/dummy data/importData-test.sh
  misc/dummy data/securityQuestion.json
  server/src/test/java/ca/dal/comparify/Appreciation/AppreciationServiceTest.java
  server/src/test/java/ca/dal/comparify/feeedbackTest/FeedbackServiceTest.java
  server/src/test/java/ca/dal/comparify/store/StoreRepositoryTest.java
Due: test, build_server_for_dev, build_server_for_staging, build_server_for_prod, code_quality_for_dev_by_designite, code_quality_for_staging_by_designite, code_quality_for_prod_by_designite, code_quality_by_sonar, deploy_staging_server, deploy_prod_server

Refactored model test-cases
  server/src/main/java/ca/dal/comparify/alerts/AlertService.java
  server/src/main/java/ca/dal/comparify/analytics/AnalyticsController.java
  server/src/main/java/ca/dal/comparify/analytics/AnalyticsService.java
  server/src/main/java/ca/dal/comparify/brand/BrandRepository.java
  server/src/main/java/ca/dal/comparify/brand/BrandService.java
  server/src/main/java/ca/dal/comparify/compareitems/CompareItemService.java
  server/src/main/java/ca/dal/comparify/constant/ApplicationConstant.java
  server/src/main/java/ca/dal/comparify/constant/MailTemplateConstant.java
  server/src/main/java/ca/dal/comparify/framework/exception/AllEmptyFieldException.java
  server/src/main/java/ca/dal/comparify/framework/exception/EntityAlreadyExistsException.java
  server/src/main/java/ca/dal/comparify/framework/notification/push/WebPushNotificationService.java
  server/src/main/java/ca/dal/comparify/item/ItemRepository.java
  server/src/main/java/ca/dal/comparify/item/ItemService.java
  server/src/main/java/ca/dal/comparify/mongo/MongoRepository.java
  server/src/main/java/ca/dal/comparify/mongo/MongoUtils.java
  server/src/main/java/ca/dal/comparify/store/StoreRepository.java
  server/src/main/java/ca/dal/comparify/store/StoreService.java
  server/src/main/resources/templates/alert-update-template.html
  server/src/test/java/ca/dal/comparify/analytics/AnalyticsControllerTest.java
  server/src/test/java/ca/dal/comparify/framework/app/ApplicationScopeTest.java
  server/src/test/java/ca/dal/comparify/framework/exception/AllEmptyFieldExceptionTest.java
  server/src/test/java/ca/dal/comparify/framework/exception/EntityAlreadyExistsExceptionTest.java
  server/src/test/java/ca/dal/comparify/framework/exception/MissingRequiredFieldExceptionTest.java
  server/src/test/java/ca/dal/comparify/framework/notification/model/MailNotificationModelTest.java
  server/src/test/java/ca/dal/comparify/framework/notification/model/WebPushNotificationModelTest.java
  server/src/test/java/ca/dal/comparify/framework/notification/model/WebSocketNotificationModelTest.java
  server/src/test/java/ca/dal/comparify/mongo/MongoRepositoryTest.java
  server/src/test/java/ca/dal/comparify/mongo/MongoUtilsTest.java
  server/src/test/java/ca/dal/comparify/user/UserControllerTest.java
  server/src/test/java/ca/dal/comparify/user/exception/authentication/UserAuthenticationExceptionTest.java
Due: test, build_server_for_dev, build_server_for_staging, build_server_for_prod, code_quality_for_dev_by_designite, code_quality_for_staging_by_designite, code_quality_for_prod_by_designite, code_quality_by_sonar, deploy_staging_server, deploy_prod_server

Test
  server/src/main/java/ca/dal/comparify/statistics/StatisticsService.java
  server/src/test/java/ca/dal/comparify/statistics/TestStatisticsController.java
  server/src/test/java/ca/dal/comparify/statistics/TestStatisticsService.java
Due: test, build_server_for_dev, build_server_for_staging, build_server_for_prod, code_quality_for_dev_by_designite, code_quality_for_staging_by_designite, code_quality_for_prod_by_designite, code_quality_by_sonar, deploy_staging_server, deploy_prod_server

Squash Merge feature-testing -> main
  server/src/main/java/ca/dal/comparify/statistics/StatisticsService.java
  server/src/test/java/ca/dal/comparify/statistics/TestStatisticsController.java
  server/src/test/java/ca/dal/comparify/statistics/TestStatisticsService.java
Due: test, build_server_for_dev, build_server_for_staging, build_server_for_prod, code_quality_for_dev_by_designite, code_quality_for_staging_by_designite, code_quality_for_prod_by_designite, code_quality_by_sonar, deploy_staging_server, deploy_prod_server

Test
  server/src/test/java/ca/dal/comparify/compareItems/CompareItemsRepositoryTest.java
Due: test, build_server_for_dev, build_server_for_staging, build_server_for_prod, code_quality_for_dev_by_designite, code_quality_for_staging_by_designite, code_quality_for_prod_by_designite, code_quality_by_sonar, deploy_staging_server, deploy_prod_server

Feature product
  client/src/components/feedback/AdminFeedback.js
  client/src/components/feedback/ViewFeedback.js
  server/src/test/java/ca/dal/comparify/ItemCategoryTest/ItemCategoryRepositoryTest.java
  server/src/test/java/ca/dal/comparify/ItemCategoryTest/ItemCategoryServiceTest.java
Due: test, build_server_for_dev, build_server_for_staging, build_server_for_prod, build_client, code_quality_for_dev_by_designite, code_quality_for_staging_by_designite, code_quality_for_prod_by_designite, code_quality_by_sonar, deploy_staging_client, deploy_staging_server, deploy_prod_client, deploy_prod_server

Test
  server/src/test/java/ca/dal/comparify/compareItems/CompareItemsServiceTest.java
Due: test, build_server_for_dev, build_server_for_staging, build_server_for_prod, code_quality_for_dev_by_designite, code_quality_for_staging_by_designite, code_quality_for_prod_by_designite, code_quality_by_sonar, deploy_staging_server, deploy_prod_server

Squash Merge feature-testing -> main
  server/src/test/java/ca/dal/comparify/compareItems/CompareItemsRepositoryTest.java
  server/src/test/java/ca/dal/comparify/compareItems/CompareItemsServiceTest.java
Due: test, build_server_for_dev, build_server_for_staging, build_server_for_prod, code_quality_for_dev_by_designite, code_quality_for_staging_by_designite, code_quality_for_prod_by_designite, code_quality_by_sonar, deploy_staging_server, deploy_prod_server

Test
  server/src/test/java/ca/dal/comparify/CompareItems/CompareItemsRepositoryTest.java
Due: test, build_server_for_dev, build_server_for_staging, build_server_for_prod, code_quality_for_dev_by_designite, code_quality_for_staging_by_designite, code_quality_for_prod_by_designite, code_quality_by_sonar, deploy_staging_server, deploy_prod_server

Feature admin menus
  client/src/app-routes.js
  client/src/components/feedback/AdminFeedback.js
  client/src/components/products/addAdminproduct.js
  client/src/components/products/addproduct.js
  client/src/components/side-navigation/Menus.js
  client/src/components/user-profile/UserProfile.js
  client/src/products/BrandListDropDown.js
  client/src/products/ItemCategories.js
  client/src/products/ProductListDropDown.js
  client/src/products/StoreListDropDown.js
  client/src/products/addproduct.js
Due: build_client, deploy_staging_client, deploy_prod_client

Enchanced integration test cases
  server/src/main/java/ca/dal/comparify/alerts/AlertService.java
  server/src/main/java/ca/dal/comparify/framework/notification/push/WebPushNotificationService.java
  server/src/main/java/ca/dal/comparify/mongo/MongoRepository.java
  server/src/main/java/ca/dal/comparify/securityQuestion/model/Question.java
  server/src/test/java/ca/dal/comparify/alerts/AlertRepositoryTest.java
  server/src/test/java/ca/dal/comparify/alerts/AlertServiceTest.java
  server/src/test/java/ca/dal/comparify/analytics/AnalyticsServiceTest.java
  server/src/test/java/ca/dal/comparify/compareItems/model/CompareItemsModelTest.java
  server/src/test/java/ca/dal/comparify/feedback/model/FeedbackTest.java
  server/src/test/java/ca/dal/comparify/item/model/ItemModelTest.java
  server/src/test/java/ca/dal/comparify/item/model/ItemRequestModelTest.java
  server/src/test/java/ca/dal/comparify/itemcategories/model/ItemCategoryModelTest.java
  server/src/test/java/ca/dal/comparify/model/AppreciationModelTest.java
  server/src/test/java/ca/dal/comparify/mongo/MongoRepositoryTest.java
  server/src/test/java/ca/dal/comparify/searchProduct/model/ProductTest.java
  server/src/test/java/ca/dal/comparify/securityQuestion/model/QuestionTest.java
  server/src/test/java/ca/dal/comparify/store/model/StoreModelTest.java
  server/src/test/java/ca/dal/comparify/user/model/SignupRequestTest.java
Due: test, build_server_for_dev, build_server_for_staging, build_server_for_prod, code_quality_for_dev_by_designite, code_quality_for_staging_by_designite, code_quality_for_prod_by_designite, code_quality_by_sonar, deploy_staging_server, deploy_prod_server

Sonar fix
  server/src/main/java/ca/dal/comparify/brand/BrandController.java
  server/src/main/java/ca/dal/comparify/brand/BrandService.java
  server/src/main/java/ca/dal/comparify/compareitems/CompareItemService.java
  server/src/main/java/ca/dal/comparify/feedback/controller/RestUpdateController.java
  server/src/main/java/ca/dal/comparify/feedback/services/FeedbackService.java
  server/src/main/java/ca/dal/comparify/item/ItemController.java
  server/src/main/java/ca/dal/comparify/item/ItemService.java
  server/src/main/java/ca/dal/comparify/itemcategories/ItemCategoryController.java
  server/src/main/java/ca/dal/comparify/itemcategories/ItemCategoryService.java
  server/src/main/java/ca/dal/comparify/itemcategories/model/ItemCategoryModel.java
  server/src/main/java/ca/dal/comparify/statistics/StatisticsService.java
  server/src/main/java/ca/dal/comparify/store/StoreController.java
  server/src/main/java/ca/dal/comparify/store/StoreService.java
  server/src/main/java/ca/dal/comparify/user/model/SignupRequest.java
  server/src/main/java/ca/dal/comparify/user/model/iam/UserDetailsModel.java
Due: test, build_server_for_dev, build_server_for_staging, build_server_for_prod, code_quality_for_dev_by_designite, code_quality_for_staging_by_designite, code_quality_for_prod_by_designite, code_quality_by_sonar, deploy_staging_server, deploy_prod_server

Squash merge feature-product -> main
  client/src/components/feedback/AdminFeedback.js
  server/src/test/java/ca/dal/comparify/ItemCategoryTest/ItemCategoryControllerTest.java
  server/src/test/java/ca/dal/comparify/brand/BrandControllerTest.java
  server/src/test/java/ca/dal/comparify/feeedbackTest/FeedbackControllerTest.java
  server/src/test/java/ca/dal/comparify/item/ItemControllerTest.java
Due: test, build_server_for_dev, build_server_for_staging, build_server_for_prod, build_client, code_quality_for_dev_by_designite, code_quality_for_staging_by_designite, code_quality_for_prod_by_designite, code_quality_by_sonar, deploy_staging_client, deploy_staging_server, deploy_prod_client, deploy_prod_server

Squash Merge: feature-testing -> main
  server/src/test/java/ca/dal/comparify/notification/model/NotificationModelTest.java
Due: test, build_server_for_dev, build_server_for_staging, build_server_for_prod, code_quality_for_dev_by_designite, code_quality_for_staging_by_designite, code_quality_for_prod_by_designite, code_quality_by_sonar, deploy_staging_server, deploy_prod_server

Enchanced unit test cases
  server/src/main/java/ca/dal/comparify/alerts/AlertController.java
  server/src/main/java/ca/dal/comparify/alerts/AlertService.java
  server/src/main/java/ca/dal/comparify/analytics/AnalyticsRepository.java
  server/src/main/java/ca/dal/comparify/user/model/SignupRequest.java
  server/src/test/java/ca/dal/comparify/ItemCategoryTest/ItemCategoryControllerTest.java
  server/src/test/java/ca/dal/comparify/brand/BrandControllerTest.java
  server/src/test/java/ca/dal/comparify/item/ItemControllerTest.java
  server/src/test/java/ca/dal/comparify/user/service/iam/UserIAMServiceTest.java
Due: test, build_server_for_dev, build_server_for_staging, build_server_for_prod, code_quality_for_dev_by_designite, code_quality_for_staging_by_designite, code_quality_for_prod_by_designite, code_quality_by_sonar, deploy_staging_server, deploy_prod_server

Feature admin menus
  server/src/main/java/ca/dal/comparify/Appreciation/AppreciationRepository.java
  server/src/main/java/ca/dal/comparify/Appreciation/AppreciationService.java
  server/src/main/java/ca/dal/comparify/analytics/AnalyticsController.java
  server/src/main/java/ca/dal/comparify/analytics/AnalyticsRepository.java
  server/src/main/java/ca/dal/comparify/compareitems/CompareItemController.java
  server/src/main/java/ca/dal/comparify/compareitems/CompareItemRepository.java
  server/src/main/java/ca/dal/comparify/compareitems/model/CompareItemsModel.java
  server/src/main/java/ca/dal/comparify/framework/security/WebSecurityConfig.java
  server/src/main/java/ca/dal/comparify/item/ItemService.java
  server/src/main/java/ca/dal/comparify/model/AppreciationModel.java
  server/src/main/java/ca/dal/comparify/model/HashModel.java
  server/src/main/java/ca/dal/comparify/mongo/MongoConfig.java
  server/src/main/java/ca/dal/comparify/mongo/MongoRepository.java
  server/src/main/java/ca/dal/comparify/mongo/MongoUtils.java
  server/src/main/java/ca/dal/comparify/notification/model/NotificationModel.java
  server/src/main/java/ca/dal/comparify/searchProduct/repository/ProductRepository.java
  server/src/main/java/ca/dal/comparify/security/TokenService.java
  server/src/main/java/ca/dal/comparify/store/StoreRepository.java
  server/src/main/java/ca/dal/comparify/user/UserController.java
  server/src/main/java/ca/dal/comparify/user/model/iam/UserDetailsModel.java
  server/src/main/java/ca/dal/comparify/user/model/iam/UserDetailsRequestModel.java
  server/src/main/java/ca/dal/comparify/user/model/iam/UserIAMModel.java
  server/src/main/java/ca/dal/comparify/user/model/iam/authentication/UserAuthenticationModel.java
  server/src/main/java/ca/dal/comparify/user/repository/iam/UserDetailsRepository.java
  server/src/main/java/ca/dal/comparify/user/repository/iam/UserIAMRepository.java
  server/src/main/java/ca/dal/comparify/utils/ResponseEntityUtils.java
  server/src/test/java/ca/dal/comparify/analytics/AnalyticsServiceTest.java
  server/src/test/java/ca/dal/comparify/brand/BrandRepositoryTest.java
  server/src/test/java/ca/dal/comparify/mongo/MongoUtilsTest.java
  server/src/test/java/ca/dal/comparify/utils/DateUtilsTest.java
Due: test, build_server_for_dev, build_server_for_staging, build_server_for_prod, code_quality_for_dev_by_designite, code_quality_for_staging_by_designite, code_quality_for_prod_by_designite, code_quality_by_sonar, deploy_staging_server, deploy_prod_server

Resolving merge conflicts
  client/src/components/feedback/AdminFeedback.js
  client/src/components/image/ImageUploader.jsx
  server/src/test/java/ca/dal/comparify/brand/BrandControllerTest.java
  server/src/test/java/ca/dal/comparify/compareItems/CompareItemsRepositoryTest.java
Due: test, build_server_for_dev, build_server_for_staging, build_server_for_prod, build_client, code_quality_for_dev_by_designite, code_quality_for_staging_by_designite, code_quality_for_prod_by_designite, code_quality_by_sonar, deploy_staging_client, deploy_staging_server, deploy_prod_client, deploy_prod_server

Fix: minor changes
  .gitlab-ci.yml
  client/package.json
  server/src/main/java/ca/dal/comparify/utils/DateUtils.java
Due: test, build_server_for_dev, build_server_for_staging, build_server_for_prod, build_client, code_quality_for_dev_by_designite, code_quality_for_staging_by_designite, code_quality_for_prod_by_designite, code_quality_by_sonar, deploy_staging_client, deploy_staging_server, deploy_prod_client, deploy_prod_server

Update README.md
  README.md
Due: none

Feature admin menus
  server/src/main/java/ca/dal/comparify/Appreciation/AppreciationRepository.java
  server/src/main/java/ca/dal/comparify/alerts/AlertRepository.java
  server/src/main/java/ca/dal/comparify/analytics/AnalyticsController.java
  server/src/main/java/ca/dal/comparify/analytics/AnalyticsRepository.java
  server/src/main/java/ca/dal/comparify/brand/BrandRepository.java
  server/src/main/java/ca/dal/comparify/constant/MailTemplateConstant.java
  server/src/main/java/ca/dal/comparify/framework/security/WebSecurityConfig.java
  server/src/main/java/ca/dal/comparify/item/ItemRepository.java
  server/src/main/java/ca/dal/comparify/item/ItemService.java
  server/src/main/java/ca/dal/comparify/itemcategories/ItemCategoryRepository.java
  server/src/main/java/ca/dal/comparify/model/AppreciationModel.java
  server/src/main/java/ca/dal/comparify/model/AuditModel.java
  server/src/main/java/ca/dal/comparify/mongo/MongoConfig.java
  server/src/main/java/ca/dal/comparify/mongo/MongoRepository.java
  server/src/main/java/ca/dal/comparify/mongo/MongoUtils.java
  server/src/main/java/ca/dal/comparify/notification/NotificationRepository.java
  server/src/main/java/ca/dal/comparify/security/TokenService.java
  server/src/main/java/ca/dal/comparify/store/StoreRepository.java
  server/src/main/java/ca/dal/comparify/user/UserController.java
  server/src/main/java/ca/dal/comparify/user/model/SignupRequest.java
  server/src/main/java/ca/dal/comparify/user/model/iam/authentication/UserAuthenticationModel.java
  server/src/main/java/ca/dal/comparify/user/model/iam/authorization/UserAuthorizationModel.java
  server/src/main/java/ca/dal/comparify/user/repository/iam/UserDetailsRepository.java
  server/src/main/java/ca/dal/comparify/user/repository/iam/UserIAMRepository.java
  server/src/main/java/ca/dal/comparify/user/service/iam/UserIAMService.java
  server/src/main/java/ca/dal/comparify/utils/ResponseEntityUtils.java
  server/src/test/java/ca/dal/comparify/TestUtil.java
  server/src/test/java/ca/dal/comparify/alerts/AlertControllerTest.java
  server/src/test/java/ca/dal/comparify/analytics/AnalyticsControllerTest.java
  server/src/test/java/ca/dal/comparify/notification/NotificationControllerTest.java
  server/src/test/java/ca/dal/comparify/user/UserControllerTest.java
Due: test, build_server_for_dev, build_server_for_staging, build_server_for_prod, code_quality_for_dev_by_designite, code_quality_for_staging_by_designite, code_quality_for_prod_by_designite, code_quality_by_sonar, deploy_staging_server, deploy_prod_server

Update documents/ArchitectureSmells.csv, documents/ImplementationSmells.csv, documents/Group15-Finalppt.pptx, documents/Group 15 Documentation.pdf, documents/DesignSmells.csv
  documents/ArchitectureSmells.csv
  documents/DesignSmells.csv
  documents/Group 15 Documentation.pdf
  documents/Group15-Finalppt.pptx
  documents/ImplementationSmells.csv
Due: none

Pipeline minor issue fix
  client/package-lock.json
  client/src/components/alert/CreateAlert.js
  server/src/test/java/ca/dal/comparify/alerts/AlertServiceTest.java
Due: test, build_server_for_dev, build_server_for_staging, build_server_for_prod, build_client, code_quality_for_dev_by_designite, code_quality_for_staging_by_designite, code_quality_for_prod_by_designite, code_quality_by_sonar, deploy_staging_client, deploy_staging_server, deploy_prod_client, deploy_prod_server

Path conditions:
  test: any of: server/**/*
  build_server_for_dev: any of: server/**/*
  build_server_for_staging: any of: server/**/*
  build_server_for_prod: any of: server/**/*
  build_client: any of: client/**/*
  code_quality_for_dev_by_designite: any of: server/**/*
  code_quality_for_staging_by_designite: any of: server/**/*
  code_quality_for_prod_by_designite: any of: server/**/*
  code_quality_by_sonar: any of: server/**/*
  deploy_staging_client: any of: client/**/*
  deploy_staging_server: any of: server/**/*
  deploy_prod_client: any of: client/**/*
  deploy_prod_server: any of: server/**/*
